footer {
  height: 60px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: rgb(4, 37, 75);
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 25%;
  width: 100%;
  background-color: rgba(129, 6, 43, 0.731);
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 40px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(226, 238, 231, 0.3);
}

.nav > #nav-check {
  display: none;
}

.nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 2px;
}
.nav > .nav-btn > label {
  display: inline-block;
  width: 70px;
  height: 75px;
  padding: 15px;
  border-radius: 25%;
  border: 1px solid black;
}
.nav > .nav-btn > label:hover,
.nav #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(129, 6, 43, 0.5);
}
.nav > .nav-btn > label > span {
  display: block;
  width: 40px;
  height: 20px;
  border-top: 2px solid black;
}
.nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: rgb(129, 6, 43);
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
}
.nav > .nav-links > a {
  display: block;
  width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
  height: calc(50vh - 50px);
  overflow-y: auto;
}
